__pycache__
.coverage
*.py,cover
.cache
.tox
*.egg-info
*.egg
*.pyc
*.so
*.swp
build
/libwcwidth/build-cmake
dist
wheelhouse
docs/_build
htmlcov
.coveralls.yml
data
.DS_Store
.idea
.python-version
tests/*.txt
