# direct dependencies
requests>=2,<3
blessed==1.14.1
docopt==0.6.2
prospector==0.12
restructuredtext-lint==0.14.3

# transient dependencies
astroid==1.4.6
docutils==0.12
dodgy==0.1.9
enum34==1.1.6
frosted==1.4.1
ipaddress==1.0.16
logilab-common==1.2.2
mccabe==0.5.0
pep257==0.7.0
pep8==1.7.0
pep8-naming==0.4.1
pies==2.6.7
pies2overrides==2.6.7
pyflakes==1.2.3
pylint==1.5.6
pylint-celery==0.3
pylint-common==0.2.2
pylint-django==0.7.2
pylint-plugin-utils==0.2.3
pyroma==2.0.2
PyYAML==5.1
requirements-detector==0.5.1
setoptconf==0.2.0
six==1.10.0
wheel==0.29.0
