name: CodSpeed

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  codspeed:
    name: Run benchmarks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: '3.15'
          cache: pip

      - name: Install dependencies
        run: |
          python -Im pip install --upgrade pip
          python -Im pip install -e . -r requirements-tests39.txt -r requirements-update.txt
          python bin/update-tables.py --only-fetch
      - name: Run benchmarks
        uses: CodSpeedHQ/action@v4
        with:
          mode: simulation
          run: pytest tests/test_benchmarks.py --codspeed
